Repository enterprise-sales-institute/identity-matrix-eb4h7j, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @attribution-team, @analytics-team, @database-team, @security-team, @qa-team, @frontend-team, @tracking-team, @devops-team, @k8s-team, @terraform-team, @ci-team, @documentation-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/web/deployment.yaml
  infrastructure/kubernetes/web/deployment.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/web/ingress.yaml
  infrastructure/kubernetes/web/ingress.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/web/service.yaml
  infrastructure/kubernetes/web/service.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/versions.tf
  infrastructure/terraform/versions.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/clickhouse/main.tf
  infrastructure/terraform/modules/clickhouse/main.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/clickhouse/outputs.tf
  infrastructure/terraform/modules/clickhouse/outputs.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/clickhouse/variables.tf
  infrastructure/terraform/modules/clickhouse/variables.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @terraform-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/package.json
  src/backend/package.json
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

.github/CODEOWNERS:

*                                    @project-leads

# Backend source code ownership
src/backend/                         @backend-team
src/backend/src/core/attribution/    @attribution-team @backend-team
src/backend/src/core/analytics/      @analytics-team @backend-team
src/backend/src/database/           @database-team @backend-team
src/backend/src/lib/security/       @security-team @backend-team
src/backend/tests/security/         @security-team @qa-team

# Frontend source code ownership
src/web/                            @frontend-team
src/web/src/tracking/               @tracking-team @frontend-team

# Infrastructure and deployment code ownership
infrastructure/                      @devops-team
infrastructure/kubernetes/           @k8s-team @devops-team
infrastructure/terraform/            @terraform-team @devops-team

# CI/CD and automation ownership
.github/workflows/                   @ci-team @devops-team

# Documentation ownership
docs/security/                       @security-team @documentation-team

# Configuration management ownership
config/                             @devops-team @security-team
