Repository enterprise-sales-institute/identity-matrix-eb4h7j, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @attribution-team, @analytics-team, @database-team, @security-team, @qa-team, @frontend-team, @tracking-team, @devops-team, @k8s-team, @terraform-team, @ci-team, @documentation-team

.github/CODEOWNERS:

*                                    @project-leads

# Backend source code ownership
src/backend/                         @backend-team
src/backend/src/core/attribution/    @attribution-team @backend-team
src/backend/src/core/analytics/      @analytics-team @backend-team
src/backend/src/database/           @database-team @backend-team
src/backend/src/lib/security/       @security-team @backend-team
src/backend/tests/security/         @security-team @qa-team

# Frontend source code ownership
src/web/                            @frontend-team
src/web/src/tracking/               @tracking-team @frontend-team

# Infrastructure and deployment code ownership
infrastructure/                      @devops-team
infrastructure/kubernetes/           @k8s-team @devops-team
infrastructure/terraform/            @terraform-team @devops-team

# CI/CD and automation ownership
.github/workflows/                   @ci-team @devops-team

# Documentation ownership
docs/security/                       @security-team @documentation-team

# Configuration management ownership
config/                             @devops-team @security-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/controllers/analytics.controller.ts
  src/backend/src/api/controllers/analytics.controller.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/controllers/attribution.controller.ts
  src/backend/src/api/controllers/attribution.controller.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/controllers/event.controller.ts
  src/backend/src/api/controllers/event.controller.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/controllers/model.controller.ts
  src/backend/src/api/controllers/model.controller.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/controllers/user.controller.ts
  src/backend/src/api/controllers/user.controller.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/auth.middleware.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/middlewares/error.middleware.ts
  src/backend/src/api/middlewares/error.middleware.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/middlewares/logging.middleware.ts
  src/backend/src/api/middlewares/logging.middleware.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/middlewares/rateLimit.middleware.ts
  src/backend/src/api/middlewares/rateLimit.middleware.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/middlewares/validation.middleware.ts
  src/backend/src/api/middlewares/validation.middleware.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/routes/analytics.routes.ts
  src/backend/src/api/routes/analytics.routes.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/routes/attribution.routes.ts
  src/backend/src/api/routes/attribution.routes.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/routes/event.routes.ts
  src/backend/src/api/routes/event.routes.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/routes/model.routes.ts
  src/backend/src/api/routes/model.routes.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/routes/user.routes.ts
  src/backend/src/api/routes/user.routes.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/swagger/openapi.yaml
  src/backend/src/api/swagger/openapi.yaml
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/validators/attribution.validator.ts
  src/backend/src/api/validators/attribution.validator.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/validators/event.validator.ts
  src/backend/src/api/validators/event.validator.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/validators/model.validator.ts
  src/backend/src/api/validators/model.validator.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/api/validators/user.validator.ts
  src/backend/src/api/validators/user.validator.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/config/auth.config.ts
  src/backend/src/config/auth.config.ts
Owners: @devops-team, @security-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/config/cache.config.ts
  src/backend/src/config/cache.config.ts
Owners: @devops-team, @security-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/config/database.config.ts
  src/backend/src/config/database.config.ts
Owners: @devops-team, @security-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/config/kafka.config.ts
  src/backend/src/config/kafka.config.ts
Owners: @devops-team, @security-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/config/logger.config.ts
  src/backend/src/config/logger.config.ts
Owners: @devops-team, @security-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/config/queue.config.ts
  src/backend/src/config/queue.config.ts
Owners: @devops-team, @security-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/config/security.config.ts
  src/backend/src/config/security.config.ts
Owners: @devops-team, @security-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/config/server.config.ts
  src/backend/src/config/server.config.ts
Owners: @devops-team, @security-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/analytics/services/analytics.service.ts
  src/backend/src/core/analytics/services/analytics.service.ts
Owners: @analytics-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/analytics/services/reporting.service.ts
  src/backend/src/core/analytics/services/reporting.service.ts
Owners: @analytics-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/analytics/types/analytics.types.ts
  src/backend/src/core/analytics/types/analytics.types.ts
Owners: @analytics-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/attribution/models/firstTouch.model.ts
  src/backend/src/core/attribution/models/firstTouch.model.ts
Owners: @attribution-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/attribution/models/lastTouch.model.ts
  src/backend/src/core/attribution/models/lastTouch.model.ts
Owners: @attribution-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/attribution/models/linearTouch.model.ts
  src/backend/src/core/attribution/models/linearTouch.model.ts
Owners: @attribution-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/attribution/models/positionBased.model.ts
  src/backend/src/core/attribution/models/positionBased.model.ts
Owners: @attribution-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/attribution/models/timeDecay.model.ts
  src/backend/src/core/attribution/models/timeDecay.model.ts
Owners: @attribution-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/attribution/services/attribution.service.ts
  src/backend/src/core/attribution/services/attribution.service.ts
Owners: @attribution-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/attribution/services/model.service.ts
  src/backend/src/core/attribution/services/model.service.ts
Owners: @attribution-team, @backend-team
