Repository enterprise-sales-institute/identity-matrix-eb4h7j, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @attribution-team, @analytics-team, @database-team, @security-team, @qa-team, @frontend-team, @tracking-team, @devops-team, @k8s-team, @terraform-team, @ci-team, @documentation-team

Add public-samples/identity-matrix-eb4h7j/.github/dependabot.yml
  .github/dependabot.yml
Owners: @project-leads

Add public-samples/identity-matrix-eb4h7j/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-leads

Add public-samples/identity-matrix-eb4h7j/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @project-leads

Add public-samples/identity-matrix-eb4h7j/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @project-leads

Add public-samples/identity-matrix-eb4h7j/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @ci-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/.github/workflows/backend-deploy.yml
  .github/workflows/backend-deploy.yml
Owners: @ci-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @ci-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/.github/workflows/web-deploy.yml
  .github/workflows/web-deploy.yml
Owners: @ci-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/identity-matrix-eb4h7j/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/identity-matrix-eb4h7j/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/identity-matrix-eb4h7j/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/backend/configmap.yaml
  infrastructure/kubernetes/backend/configmap.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/backend/deployment.yaml
  infrastructure/kubernetes/backend/deployment.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/backend/hpa.yaml
  infrastructure/kubernetes/backend/hpa.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/backend/ingress.yaml
  infrastructure/kubernetes/backend/ingress.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/backend/secret.yaml
  infrastructure/kubernetes/backend/secret.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/backend/service.yaml
  infrastructure/kubernetes/backend/service.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/elk/elasticsearch.yaml
  infrastructure/kubernetes/monitoring/elk/elasticsearch.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/elk/kibana.yaml
  infrastructure/kubernetes/monitoring/elk/kibana.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/elk/logstash.yaml
  infrastructure/kubernetes/monitoring/elk/logstash.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/grafana/configmap.yaml
  infrastructure/kubernetes/monitoring/grafana/configmap.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/grafana/dashboards/attribution.json
  infrastructure/kubernetes/monitoring/grafana/dashboards/attribution.json
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/grafana/dashboards/performance.json
  infrastructure/kubernetes/monitoring/grafana/dashboards/performance.json
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/grafana/dashboards/system.json
  infrastructure/kubernetes/monitoring/grafana/dashboards/system.json
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/jaeger/deployment.yaml
  infrastructure/kubernetes/monitoring/jaeger/deployment.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/jaeger/service.yaml
  infrastructure/kubernetes/monitoring/jaeger/service.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/namespaces/dev.yaml
  infrastructure/kubernetes/namespaces/dev.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/namespaces/prod.yaml
  infrastructure/kubernetes/namespaces/prod.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/namespaces/staging.yaml
  infrastructure/kubernetes/namespaces/staging.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/security/network-policies.yaml
  infrastructure/kubernetes/security/network-policies.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/security/pod-security-policies.yaml
  infrastructure/kubernetes/security/pod-security-policies.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/security/rbac.yaml
  infrastructure/kubernetes/security/rbac.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/security/service-accounts.yaml
  infrastructure/kubernetes/security/service-accounts.yaml
Owners: @k8s-team, @devops-team

Add public-samples/identity-matrix-eb4h7j/infrastructure/kubernetes/web/configmap.yaml
  infrastructure/kubernetes/web/configmap.yaml
Owners: @k8s-team, @devops-team

.github/CODEOWNERS:

*                                    @project-leads

# Backend source code ownership
src/backend/                         @backend-team
src/backend/src/core/attribution/    @attribution-team @backend-team
src/backend/src/core/analytics/      @analytics-team @backend-team
src/backend/src/database/           @database-team @backend-team
src/backend/src/lib/security/       @security-team @backend-team
src/backend/tests/security/         @security-team @qa-team

# Frontend source code ownership
src/web/                            @frontend-team
src/web/src/tracking/               @tracking-team @frontend-team

# Infrastructure and deployment code ownership
infrastructure/                      @devops-team
infrastructure/kubernetes/           @k8s-team @devops-team
infrastructure/terraform/            @terraform-team @devops-team

# CI/CD and automation ownership
.github/workflows/                   @ci-team @devops-team

# Documentation ownership
docs/security/                       @security-team @documentation-team

# Configuration management ownership
config/                             @devops-team @security-team
