Repository enterprise-sales-institute/identity-matrix-eb4h7j, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @attribution-team, @analytics-team, @database-team, @security-team, @qa-team, @frontend-team, @tracking-team, @devops-team, @k8s-team, @terraform-team, @ci-team, @documentation-team

.github/CODEOWNERS:

*                                    @project-leads

# Backend source code ownership
src/backend/                         @backend-team
src/backend/src/core/attribution/    @attribution-team @backend-team
src/backend/src/core/analytics/      @analytics-team @backend-team
src/backend/src/database/           @database-team @backend-team
src/backend/src/lib/security/       @security-team @backend-team
src/backend/tests/security/         @security-team @qa-team

# Frontend source code ownership
src/web/                            @frontend-team
src/web/src/tracking/               @tracking-team @frontend-team

# Infrastructure and deployment code ownership
infrastructure/                      @devops-team
infrastructure/kubernetes/           @k8s-team @devops-team
infrastructure/terraform/            @terraform-team @devops-team

# CI/CD and automation ownership
.github/workflows/                   @ci-team @devops-team

# Documentation ownership
docs/security/                       @security-team @documentation-team

# Configuration management ownership
config/                             @devops-team @security-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/attribution/types/attribution.types.ts
  src/backend/src/core/attribution/types/attribution.types.ts
Owners: @attribution-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/events/services/event.service.ts
  src/backend/src/core/events/services/event.service.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/events/services/processing.service.ts
  src/backend/src/core/events/services/processing.service.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/core/events/types/event.types.ts
  src/backend/src/core/events/types/event.types.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/database/clickhouse/connection.ts
  src/backend/src/database/clickhouse/connection.ts
Owners: @database-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/database/clickhouse/migrations/001_init_events.ts
  src/backend/src/database/clickhouse/migrations/001_init_events.ts
Owners: @database-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/database/clickhouse/migrations/002_init_analytics.ts
  src/backend/src/database/clickhouse/migrations/002_init_analytics.ts
Owners: @database-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/database/clickhouse/repositories/analytics.repository.ts
  src/backend/src/database/clickhouse/repositories/analytics.repository.ts
Owners: @database-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/database/clickhouse/repositories/event.repository.ts
  src/backend/src/database/clickhouse/repositories/event.repository.ts
Owners: @database-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/database/postgres/connection.ts
  src/backend/src/database/postgres/connection.ts
Owners: @database-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/database/postgres/migrations/001_init_users.ts
  src/backend/src/database/postgres/migrations/001_init_users.ts
Owners: @database-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/database/postgres/migrations/002_init_attribution.ts
  src/backend/src/database/postgres/migrations/002_init_attribution.ts
Owners: @database-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/database/postgres/repositories/attribution.repository.ts
  src/backend/src/database/postgres/repositories/attribution.repository.ts
Owners: @database-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/database/postgres/repositories/user.repository.ts
  src/backend/src/database/postgres/repositories/user.repository.ts
Owners: @database-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/database/redis/connection.ts
  src/backend/src/database/redis/connection.ts
Owners: @database-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/database/redis/repositories/cache.repository.ts
  src/backend/src/database/redis/repositories/cache.repository.ts
Owners: @database-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/lib/encryption/encryption.service.ts
  src/backend/src/lib/encryption/encryption.service.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/lib/encryption/key.service.ts
  src/backend/src/lib/encryption/key.service.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/lib/kafka/consumer.ts
  src/backend/src/lib/kafka/consumer.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/lib/kafka/producer.ts
  src/backend/src/lib/kafka/producer.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/lib/logger/logger.service.ts
  src/backend/src/lib/logger/logger.service.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/lib/metrics/metrics.service.ts
  src/backend/src/lib/metrics/metrics.service.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/lib/queue/queue.service.ts
  src/backend/src/lib/queue/queue.service.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/lib/security/auth.service.ts
  src/backend/src/lib/security/auth.service.ts
Owners: @security-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/lib/security/jwt.service.ts
  src/backend/src/lib/security/jwt.service.ts
Owners: @security-team, @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/lib/validation/validation.service.ts
  src/backend/src/lib/validation/validation.service.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/types/common.types.ts
  src/backend/src/types/common.types.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/types/config.types.ts
  src/backend/src/types/config.types.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/types/error.types.ts
  src/backend/src/types/error.types.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/utils/constants.ts
  src/backend/src/utils/constants.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/utils/helpers.ts
  src/backend/src/utils/helpers.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/src/utils/validators.ts
  src/backend/src/utils/validators.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/tests/setup.ts
  src/backend/tests/setup.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/tests/fixtures/attribution.fixtures.ts
  src/backend/tests/fixtures/attribution.fixtures.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/tests/fixtures/event.fixtures.ts
  src/backend/tests/fixtures/event.fixtures.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/tests/fixtures/user.fixtures.ts
  src/backend/tests/fixtures/user.fixtures.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/tests/integration/api/analytics.test.ts
  src/backend/tests/integration/api/analytics.test.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/tests/integration/api/attribution.test.ts
  src/backend/tests/integration/api/attribution.test.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/tests/integration/api/event.test.ts
  src/backend/tests/integration/api/event.test.ts
Owners: @backend-team

Add public-samples/identity-matrix-eb4h7j/src/backend/tests/integration/core/analytics.test.ts
  src/backend/tests/integration/core/analytics.test.ts
Owners: @backend-team
